html,
html *,
body,
body * {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #bb86fc;
}

.cursor-dot-outline {
  width: 20px;
  height: 20px;
  background-color: #AED6F1 ;
}
